<div id="app">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12 pb-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title neon-text">Card title</h5>
            <p class="card-text neon-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-12">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title neon-text">Card title</h5>
            <p class="card-text neon-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <app-latest-image></app-latest-image>
      </div>
    </div>
  </div>

</div>
