/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #10002b;
  --secondary-color: #133e7c;
  --primary-font-color: #ff1ef0;
  --secondary-font-color: #7b2cbf;
}

::selection {
  color: var(--primary-font-color);
  background: var(--primary-color);
}

body {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
}

.neon-text {
  text-shadow:
  0 0 5px var(--primary-font-color),
  0 0 10px var(--primary-font-color),
}

.card {
  background-color: var(--secondary-color);
  -webkit-box-shadow: 5px 3px 15px 3px rgba(255,30,240,0.5);
  box-shadow: 5px 3px 15px 3px rgba(255,30,240,0.5);
}
